<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Category</th>
          <th scope="col">Status</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles">
          <td>{{ article.id }}</td>
          <td>{{ article.category.name }}</td>
          <td>{{ article.status }}</td>
          <td>{{ article.comment }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
